body {
    background-color: #121212;
    color: #fff;
    /*font-family: 'Arial', sans-serif;*/
}
.profile-header {
    background-color: #181818;
    padding: 2rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-header .favorite-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

.favorite-img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.profile-img {
    position: absolute;
    top: 150px; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white; 
}

.profile-name {
    margin-top: 180px; 
    margin-top: -0.5%;
    font-size: 3.5rem;
}

.toggle-options {
    cursor: pointer;
    text-align: center;
    color: rgb(192, 192, 192);
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
}
.hidden {
    display: none;
}

.hall-of-fame-title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.hall-section {
    margin-bottom: 3rem;
}
.hall-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #1DB954;
}
.hall-item {
    width: 100%;
    height: 150px;
    background-color: #282828;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: #fff;
}